
*{
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight:normal;


    /* background-image: url("image/jajang-sopandi-x.jpg"); */
    background-repeat: no-repeat;
    background-size: auto;
    background-color: azure;
}

img{
    border-radius: 50%;
    mix-blend-mode: multiply;
    width: 150px;
}

.container{
    width: 80%;
    margin: auto;
}

h1{
    color: rgb(0, 0, 0);
}

h2{
    color: rgb(0, 0, 0);
}

h3{
    color: rgb(0, 0, 0);
}

h4{
    color: rgb(0, 0, 0);
}

p{
    color: rgb(253, 0, 0);
    font-size: 1.2em;
}

.grandparent{
    padding: 5px;
    border-top: solid 5px greenyellow;
    border-right: solid 5px rgb(0, 0, 0)  ;
    border-left: solid  5px rgb(255, 0, 0) ;
    border-bottom: solid  5px rgb(34, 0, 255) ;
}


.parent{
    border: solid rgb(39, 39, 39) 3px ;
}

.skills{
    color: rgb(0, 0, 0);
    font-size: 15px;
}

#hobby{
    color: rgb(0, 0, 0);
    font-size: 15px;
    background-color: rgb(25, 150, 150);
}

ul{
    color: rgb(253, 0, 0);

    box-sizing: border-box;
    width: 300px;
}

.box-1 h4{
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#myform{
    background-color: grey;
    color: blanchedalmond;
    padding: 50px;
    margin: 10px 15px;
}

#myform input[type="text"]{
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    background-color: antiquewhite;
}

#myform input[type="submit"], button{
    padding: 8px;
    border: none;
    background-color: darkorange;
    color: chartreuse;
}

a{
    text-decoration: wavy;
    color: goldenrod;
}

a:active{
    color: red;
}

a:visited {
    color: pink;
}


a:hover{
    color: olivedrab;
}




